@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

h1 {
    font-family: 'Playball', cursive;
    font-size: 4em;
    margin: -40px 0 30px 0;
}

#navbar-top {
    margin: 4rem 2rem;
}

#more {
    display: none;
}

.btn-radius-thin {
    background: none;
    border: 1px solid #e7e7e7;
    color: #b8b894;
    border-radius: 40px;
    font-size: 15px;
    padding: 5px 10px;
    transition: .5s;
}

.img-gray {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.tm-text-red {
    transition: .5s;
    color: #e4a667;
}

.tm-text-red:hover {
    color: #ad661f;
    text-decoration: none;
}

.tm-text-blue {
    transition: .5s;
    color: #800000;
}

.tm-text-blue:hover {
    color: #500606;
    text-decoration: none;
}
.border-left-yellow {
    border-left: 5px solid yellow;
    display: inline;
    padding-left: 10px;
}

@media only screen and (max-width: 772px) {

    #navbar-top {
        margin: 0;
    }

    .media-adapt {
        margin-top: 30px;
    }

  }